<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SWEA/src/백트래킹/규영이와_인영이의_카드게임_6808/Solution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="백트래킹.규영이와_인영이의_카드게임_6808.Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SWEA"/>
</launchConfiguration>
