<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SWEA/src/Array3/어디에_단어가_들어갈_수_있을까_1979/Solution.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Array3.어디에_단어가_들어갈_수_있을까_1979.Solution"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SWEA"/>
</launchConfiguration>
